<?xml version="1.0" encoding="utf-8"?>
<Media Key="d550f57e-3e96-4ba7-b1cc-d7906c63cb0a" Alias="Bmw 3.0 Csl" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bmw30Csl</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-31T21:18:30</CreateDate>
    <NodeName Default="Bmw 3.0 Csl" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pd0fbvmw/bmw-30-csl.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>