<?xml version="1.0" encoding="utf-8"?>
<Media Key="447d1298-dff3-43b5-80ff-389c7f53ecbc" Alias="Bmw Cutaway Illustrations Are Everything You Ever Wanted Photo Gallery 85419 7" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BmwCutawayIllustrationsAreEverythingYouEverWantedPhotoGallery854197</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-19T12:18:41</CreateDate>
    <NodeName Default="Bmw Cutaway Illustrations Are Everything You Ever Wanted Photo Gallery 85419 7" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tyjh0rht/bmw-cutaway-illustrations-are-everything-you-ever-wanted-photo-gallery-85419-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>