<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cb14760-216b-4754-912f-6485abd8a69e" Alias="Bmw Cutaway" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BmwCutaway</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T11:46:01</CreateDate>
    <NodeName Default="Bmw Cutaway" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mzdlcxdl/bmw-cutaway.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>