<?xml version="1.0" encoding="utf-8"?>
<Media Key="9876ec46-7815-44db-94a7-7c3cb0063a21" Alias="Bmw 8 Series 081" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bmw8Series081</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T11:46:01</CreateDate>
    <NodeName Default="Bmw 8 Series 081" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/idwhngav/bmw-8-series-081.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>