<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8eab37b-813c-4973-ac55-5d2f85c5737a" Alias="Bmw 8 Series 081" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Bmw8Series081</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-18T17:24:10</CreateDate>
    <NodeName Default="Bmw 8 Series 081" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pwzpv0b2/bmw-8-series-081.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>