<?xml version="1.0" encoding="utf-8"?>
<Content Key="69154a3b-46f8-4ba1-9bf9-3c82af366b69" Alias="Blog" Level="2">
  <Info>
    <Parent Key="de34d824-180e-42c2-bed0-7913654e86db">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListPage</ContentType>
    <CreateDate>2022-10-19T15:21:43</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a8524b3-26e7-4016-bce7-65097e95c917">BlogListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "0fbaff2f-c2ba-49de-b1e7-9e4ee9d8b876",
    "mediaKey": "9876ec46-7815-44db-94a7-7c3cb0063a21"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>