<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae3a7088-202e-488b-bb04-02d8e9d481e8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="de34d824-180e-42c2-bed0-7913654e86db">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-10-19T15:22:21</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65e595cd-dcd7-47cc-a5f0-0de46b3cd486">Contact</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "c36c475c-5dec-4b33-b471-3fcb7f895524",
    "mediaKey": "9c2971e7-570e-46d1-bebf-894cd4010bde"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>