<?xml version="1.0" encoding="utf-8"?>
<Content Key="de34d824-180e-42c2-bed0-7913654e86db" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-10-18T15:36:49</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0d07bc8-fe2b-4733-860a-963db065922b">HomePage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "f52153b0-ebb4-497a-b283-2cefc2b13807",
    "mediaKey": "e8eab37b-813c-4973-ac55-5d2f85c5737a"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "79ee0d85-9f43-44b5-908f-b3615fe276d3",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/de34d824180e42c2bed07913654e86db\"}]",
    "childLinks": null
  },
  {
    "key": "776e42ed-d504-432e-aa9b-5997e756c1ea",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": "[{\"name\":\"About\",\"udi\":\"umb://document/9edd4c25544344f8a6e30dbad009e05b\"}]",
    "childLinks": null
  },
  {
    "key": "15b6b51d-eed4-4ff3-8b33-e6f9cb2a633e",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": "[{\"name\":\"Blog\",\"udi\":\"umb://document/69154a3b46f84ba19bf93c82af366b69\"},{\"name\":\"Most popular blogs\",\"url\":\"#test 2\"},{\"name\":\"Latest blogs\",\"url\":\"#test 3\"}]"
  },
  {
    "key": "adbab5a8-d4f2-4f0e-866b-fa700d6d72b8",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": "[{\"name\":\"Contact\",\"udi\":\"umb://document/ae3a7088202e488bbb0402d8e9d481e8\"}]",
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[This is my first umbraco site]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Teddy's site]]></Value>
    </title>
  </Properties>
</Content>