<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84fb5bb8-e7d1-495f-b5f4-8fbaa8ec6dd4" Alias="accordionRow" Level="4">
  <Info>
    <Name>Accordion Row</Name>
    <Icon>icon-ordered-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="e8c1ad5b-0e40-427c-bed7-e4fe19b68786">descriptionProperty</Composition>
      <Composition Key="3519ce99-3be9-467d-9677-fc97e5293a2e">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9852b90-d9f8-4e53-a103-789fbf8e8aa4</Key>
      <Name>Accordion Items</Name>
      <Alias>accordionItems</Alias>
      <Definition>2848e696-4089-4e5c-9ee2-31cc60eadf99</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add here the items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e3ea4da0-be19-459e-a32d-1f83380e03ff</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>