<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2bd15bb-4833-4e68-ada9-d0d927462b96" Alias="content" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f7760205-7f27-4b31-9a48-7b48bf4b5a09">contentProperties</Composition>
      <Composition Key="3874a7c1-7c2c-468a-89ca-ec4b79a4a630">headerProperties</Composition>
      <Composition Key="272940ca-f52d-4993-a183-71bf2320da38">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1199d72b-7de6-4edd-81a9-b0f3cbbb7938">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>