<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26315597-0c79-4fea-b8a7-937a3c427676" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="63247717-9d63-4f3f-bd0b-e8889c1b8148">footerProperties</Composition>
      <Composition Key="3874a7c1-7c2c-468a-89ca-ec4b79a4a630">headerProperties</Composition>
      <Composition Key="8ed70556-65c7-4e9f-b64e-e5bbfa7620fd">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c0d07bc8-fe2b-4733-860a-963db065922b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c2bd15bb-4833-4e68-ada9-d0d927462b96" SortOrder="0">content</ContentType>
    <ContentType Key="660fb17d-1bab-47db-91af-bcd6c8183216" SortOrder="1">blogListPage</ContentType>
    <ContentType Key="13770e25-9d99-4b1a-9bcb-c4dc4ee954c5" SortOrder="2">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>