<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33c1eff3-3b23-4f9c-ad08-c2e03f1fdff8" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="e8c1ad5b-0e40-427c-bed7-e4fe19b68786">descriptionProperty</Composition>
      <Composition Key="86811ee8-8b40-43dd-a91c-175268407ce1">imageProperty</Composition>
      <Composition Key="232cfd26-bee8-4b01-ac48-4380bc5cc375">linkProperty</Composition>
      <Composition Key="3519ce99-3be9-467d-9677-fc97e5293a2e">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>