<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2848e696-4089-4e5c-9ee2-31cc60eadf99" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "447727ee-fe5c-4e37-8ba3-a733c53c8589",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accordion Item' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "470ed4a7-f508-4c8a-a6a1-00168abc6ab7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>