<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4a32440-e10b-4c8e-be7b-93990f22fa62" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "33c1eff3-3b23-4f9c-ad08-c2e03f1fdff8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Image Link' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "06b82b3d-d189-4deb-996a-62ccfb4bf995",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>