<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99a01278-7002-42f6-9fb1-52aed7934213" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ef28c7ef-5cdc-4f2b-b929-fc0b6aad15ea",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text' + $index }} {{ $settings.hide == '1' ? 'HIDDEN' : '' }}",
      "settingsElementTypeKey": "616be55b-b9ed-4bda-80e6-aa5896ffc427",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c6bb7f2c-80cc-4f05-9602-3d13abfba5f1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image' + $index }} {{ $settings.hide == '1' ? 'HIDDEN' : '' }}",
      "settingsElementTypeKey": "6a8d7833-b2a0-47eb-a834-2676bbd914fb",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0e5831ed-36b9-4182-982d-2df6d2d10f1b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Featured Items' + $index}} {{ $settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "b206a8c0-1cb7-452a-a663-e30bab27a837",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "84fb5bb8-e7d1-495f-b5f4-8fbaa8ec6dd4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accordion' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "91cb29ef-fd6a-4a00-a72f-6b6bc1b7b54e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b2e68cc1-5426-42b9-888f-7d454cbaa018",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Quote' + $index }} {{ $settings.hide == '1' ? 'HIDDEN' : '' }}",
      "settingsElementTypeKey": "e2317db4-37cb-4441-9044-b70e0f4cea73",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4faace7a-d348-4185-8dc4-870bcacd3fc3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Carousel Slide ' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' : '' }}",
      "settingsElementTypeKey": "e89c5022-03c3-4149-a0f5-d8183603f904",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>